{{!< default}}

{{#contentFor "body_class"}}resources-template{{/contentFor}}

{{#post}}
<main class="gh-main gh-outer {{slug}}">
    <div class="gh-content gh-canvas">
        <div class="hero-post">
            {{> "post-tags"}}
            <h1>{{title}}</h1>
            {{#if custom_excerpt}}
                <p>{{custom_excerpt}}</p>
            {{/if}}
        </div>
        <aside class="gh-sidebar"><div class="gh-toc"></div></aside>
        {{content}}
    </div>
</main>
{{/post}}

{{> "tocbot"}}
