/*@import "tailwindcss";*/
@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "fonts.css";

:root {
    --font-sans:
        Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif:
        Lora, Georgia, Times, serif; /* stylelint-disable-line value-keyword-case */
    --head-nav-gap: 32px;
    --color-primary-text: var(--color-darker-gray);
    --h1-size: 4.4rem;
    --footer-spacing: 120px;
}

@media (max-width: 767px) {
    :root {
        --footer-spacing: 64px;
    }
}
a[class]:hover {
    transition: 0.2s ease;
}

.hidden {
    display: none;
}

figcaption {
    font-size: 1.3rem;
}

.has-full-image figcaption {
    padding: 0 16px;
}

.gh-btn {
    font-weight: 500;
}

body:not(.is-head-stacked) .gh-head {
    height: 88px;
}

body:not(.is-head-stacked) .gh-head-inner {
    border-bottom: 1px solid var(--color-light-gray);
}

.nav {
    letter-spacing: -0.006em;
}

body:not(.is-head-transparent):not(.is-head-brand):not(.is-head-dark)
    .gh-head-logo
    img
    + img {
    display: none;
}

body:is(.is-head-transparent, .is-head-brand, .is-head-dark)
    .gh-head-logo
    img
    + img {
    opacity: 1;
}

.is-head-transparent .gh-head-logo img:first-of-type:not(:only-child) {
    display: block;
    opacity: 0;
}

/* Styles specific to grid style sections */

.gh-topic-grid + .gh-topic-grid {
    margin-top: 80px;
}

.gh-topic-grid .gh-topic-name {
    margin-bottom: 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-topic-grid .gh-topic-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 40px;
}

body:not(.home-template) .gh-topic-grid .gh-topic-content {
    row-gap: 48px;
    justify-items: center;
}

.gh-topic-footer {
    padding-top: 20px;
    margin-top: 48px;
    text-align: right;
    border-top: 1px solid var(--color-light-gray);
}

.gh-topic-grid .gh-card.large,
body:not(.home-template) .gh-topic-grid .gh-card {
    grid-column: 1 / 3;
}

.gh-topic-grid .gh-card.large {
    width: 100%;
}

.gh-topic-grid .gh-card:not(.large) {
    width: 100%;
    max-width: 720px;
}

.gh-topic-grid .gh-card:not(:only-child).large {
    padding-bottom: 48px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-light-gray);
}

.gh-topic-grid .gh-card-link {
    display: flex;
    gap: 24px;
}

.gh-topic-grid .gh-card-link:hover {
    opacity: 1 !important;
}

.gh-topic-grid .gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-topic-grid .gh-card.large .gh-card-link {
    gap: 40px;
}

.gh-topic-grid .gh-card.featured.large .gh-card-link {
    position: relative;
    align-items: flex-end;
    min-height: 600px;
    padding: 48px 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent 60%);
}

.gh-topic-grid .gh-card.featured.no-image.large .gh-card-link {
    min-height: 400px;
    background: var(--ghost-accent-color);
}

.gh-topic-grid .gh-card.large .gh-card-link > * {
    flex: 1;
}

.gh-topic-grid .gh-card-image {
    position: relative;
    flex-shrink: 0;
    width: 128px;
    height: 100%;
}

.gh-topic-grid .gh-card-image::before {
    display: block;
    padding-bottom: 70%;
    content: "";
}

.gh-topic-grid .gh-card.large .gh-card-image::before {
    padding-bottom: 60%;
}

.gh-topic-grid .gh-card.featured.large .gh-card-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
}

.gh-topic-grid .gh-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gh-topic-grid .gh-card-wrapper {
    margin-top: -3px;
}

.gh-topic-grid .gh-card.featured.large .gh-card-wrapper {
    max-width: 560px;
}

.gh-topic-grid .gh-card-title {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.015em;
    word-break: break-word;
}

.gh-topic-grid .gh-card.large .gh-card-title {
    font-size: 2.8rem;
    letter-spacing: -0.02em;
}

.gh-topic-grid .gh-card.no-image.large .gh-card-title {
    font-size: 4.2rem;
    line-height: 1.2;
}

.gh-topic-grid .gh-card.featured.large .gh-card-title {
    font-size: 4.2rem;
    line-height: 1.2;
    color: var(--color-white);
}

.gh-topic-grid .gh-card.featured.large .gh-card-link:hover .gh-card-title {
    opacity: 0.9;
}

.gh-topic-grid .gh-card-excerpt {
    margin-top: 12px;
    font-size: 1.7rem;
    word-break: break-word;
}

.gh-topic-grid .gh-card.no-image.large .gh-card-excerpt {
    max-width: 720px;
}

.gh-topic-grid .gh-card:not(.large) .gh-card-excerpt {
    display: -webkit-box;
    margin-top: 4px;
    overflow-y: hidden;
    font-size: 1.6rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gh-topic-grid .gh-card.featured.large .gh-card-excerpt {
    display: none;
}

.gh-card-footer {
    margin-top: 16px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-card:not(.large) .gh-card-footer {
    margin-top: 12px;
}

.gh-topic-grid .gh-card.featured.large .gh-card-footer {
    margin-top: 20px;
    color: var(--color-white);
}

.gh-card-footer > * {
    display: inline-block;
}

.gh-card-footer > * + *:not(script)::before {
    display: inline-flex;
    width: 2px;
    height: 2px;
    margin-right: 6px;
    margin-left: 4px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    transform: translateY(-3px);
}

/* Styles specific to list style sections */

.gh-topic-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 80px 48px;
    margin-top: 120px;
}

.gh-topic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-light-gray);
}

.gh-topic-header .gh-topic-name {
    font-size: 2rem;
    letter-spacing: -0.015em;
}

.gh-topic-header .gh-topic-link {
    color: var(--color-secondary-text);
}

.gh-topic-minimal .gh-card {
    max-width: 720px;
}

.gh-topic-minimal .gh-card-link {
    display: block;
}

.gh-topic-minimal .gh-card-title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.01em;
    word-break: break-word;
}

.gh-topic-minimal .gh-card + .gh-card {
    margin-top: 16px;
}

/* Global elements used for both grid and list style sections */

.gh-topic-link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.011em;
}

.gh-topic-link svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

/* Article */

.gh-article-header {
    position: relative;
    justify-items: start;
}

.gh-article-tag {
    margin-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-article-excerpt {
    font-size: 1.9rem;
}

.has-full-image .gh-article-excerpt {
    margin-bottom: -8px;
}

.gh-article-image {
    grid-column: main-start / main-end;
    width: 100%;
}

.has-wide-image .gh-article-image {
    grid-column: wide-start / wide-end;
}

.gh-article-sidebar {
    position: absolute;
    left: 0;
    grid-column: wide-start/main-start;
    padding-right: 32px;
}

.has-wide-image .gh-article-sidebar {
    top: calc(100% + 40px);
}

.gh-author-image-list {
    display: flex;
    margin-left: -2px;
}

.gh-author-image {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.gh-author-image-list .gh-author-image {
    margin-bottom: 16px;
    border: 2px solid var(--color-white);
}

.gh-author-image-list .gh-author-image:only-child {
    width: 68px;
    height: 68px;
}

.gh-author-image-list .gh-author-image:hover {
    opacity: 1;
}

.gh-author-image-list .gh-author-image + .gh-author-image {
    margin-left: -20px;
}

.gh-author-image-list .gh-author-image:nth-child(1) {
    z-index: 30;
}

.gh-author-image-list .gh-author-image:nth-child(2) {
    z-index: 20;
}

.gh-author-image-list .gh-author-image:nth-child(3) {
    z-index: 10;
}

.gh-author-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gh-author-icon {
    background-color: var(--color-light-gray);
}

.gh-author-name-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
    line-height: 1.35;
}

.gh-author-name {
    display: flex;
    font-size: 1.8rem;
    line-height: 1.35;
    letter-spacing: -0.01em;
}

.gh-author-location {
    margin-top: 4px;
    color: var(--color-darker-gray);
}

.gh-author-social {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
}

.gh-author-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}

.gh-author-social svg {
    width: 18px;
    height: 18px;
}

.gh-article-meta {
    margin-top: 3px;
    font-size: 1.3rem;
    color: var(--color-secondary-text);
    letter-spacing: -0.003em;
}

.gh-article-meta-inner {
    display: flex;
    align-items: center;
}

.gh-article-meta-sep {
    width: 2px;
    height: 2px;
    margin: 0 6px;
    background-color: currentColor;
    border-radius: 50%;
}

.gh-read-next {
    margin-top: 80px;
}

.gh-read-next .gh-pagehead {
    max-width: none;
    margin-bottom: 48px;
}

.gh-read-next .gh-pagehead-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.gh-read-next .gh-pagehead-title::after {
    flex-grow: 1;
    height: 1px;
    margin-left: 1.6rem;
    content: "";
    background-color: var(--color-light-gray);
}

/* Full screen cover */

.gh-cover {
    --cover-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -16px;
    background-color: rgba(0, 0, 0, 0.4);
}

.post-template .gh-cover {
    --cover-height: 100vh;

    align-items: flex-end;
    padding-top: 120px;
    padding-bottom: 0;
    margin-bottom: -56px;
    background-color: transparent;
}

.post-template .gh-cover::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--color-black);
    opacity: 0.3;
    transition: opacity 1.5s ease;
}

.post-template .gh-cover.loading::before {
    opacity: 1;
}

.post-template .gh-cover-image {
    transition: transform 1.5s ease;
    transform: scale(1);
}

.post-template .gh-cover.loading .gh-cover-image {
    transform: scale(1.02);
}

.gh-cover-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    margin-top: 100px;
    text-align: center;
}

.post-template .gh-cover-content {
    position: sticky;
    bottom: 80px;
    align-items: flex-start;
    max-width: 1200px;
    margin-bottom: 64px;
    text-align: left;
}

.gh-cover-content .gh-article-tag {
    color: var(--color-white);
}

.gh-cover-title {
    font-size: 7.2rem;
    color: var(--color-white);
    text-transform: uppercase;
    word-break: break-word;
}

.tag-template .gh-cover-title {
    font-family: var(--font-sans);
    letter-spacing: -0.01em;
}

.post-template .gh-cover-title {
    text-transform: none;
}

.gh-cover-description {
    margin-top: 20px;
    font-size: 1.9rem;
    color: var(--color-white);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
    .gh-cover-description {
    font-family: var(--gh-font-body, var(--font-serif));
}

/* Page head */

.gh-pagehead {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin-bottom: 40px;
}

.gh-pagehead-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-pagehead-description {
    margin-top: 12px;
    font-size: 1.7rem;
    color: var(--color-secondary-text);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
    .gh-pagehead-description {
    font-family: var(--gh-font-body, var(--font-serif));
}

/* Subscription banner */

.gh-subscribe {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.gh-subscribe-title {
    font-size: 4.4rem;
    color: var(--color-white);
    white-space: break-spaces;
}

.has-serif-title:not([class*=" gh-font-heading"]):not(
        [class^="gh-font-heading"]
    )
    .gh-subscribe-title {
    font-family: var(--gh-font-heading, var(--font-serif));
}

.gh-subscribe-description {
    margin-top: 16px;
    font-size: 2rem;
    white-space: break-spaces;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
    .gh-subscribe-description {
    font-family: var(--gh-font-body, var(--font-serif));
}

.gh-subscribe-btn {
    margin-top: 40px;
    color: var(--color-darker-gray);
    letter-spacing: -0.011em;
    background-color: var(--color-white);
}

.gh-subscribe-btn:hover {
    opacity: 0.9;
}

.gh-subscribe-btn svg {
    margin-right: 6px;
}

/* Site footer */

.gh-foot {
    padding-top: 80px;
    padding-bottom: 120px;
    margin-top: 120px;
    background-color: var(--color-darker-gray);
}

.page-template .gh-foot {
    margin-top: 0;
}

.gh-foot,
.gh-foot a,
.gh-foot a:hover {
    color: var(--color-white);
}

.gh-foot-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

.gh-foot-menu {
    width: 100%;
    padding-bottom: 32px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.gh-subscribe ~ .gh-foot-menu {
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.gh-foot-menu .nav {
    gap: 32px;
    font-weight: 500;
}

.gh-foot-menu .nav li + li::before {
    display: none;
}

.gh-copyright {
    margin-top: 32px;
    color: var(--color-secondary-text);
    letter-spacing: -0.006em;
    text-wrap: wrap;
}

.gh-subscribe ~ .gh-copyright {
    margin-top: 64px;
}

/* Media queries */

@media (max-width: 767px) {
    .gh-main {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
    }

    .gh-cover-content {
        margin-top: 40px;
    }

    .post-template .gh-cover-content {
        bottom: 32px;
        margin-bottom: 32px;
    }

    .gh-cover-title {
        font-size: 3.2rem;
    }

    .gh-cover-description {
        font-size: 1.7rem;
    }

    .gh-topic-grid .gh-topic-content {
        row-gap: 32px !important;
    }

    .gh-topic-grid .gh-card:not(:only-child).large {
        padding-bottom: 36px;
        margin-bottom: 4px;
    }

    .gh-topic-grid .gh-card-link {
        gap: 16px;
    }

    .gh-topic-grid .gh-card.large .gh-card-link {
        gap: 32px;
    }

    .gh-topic-grid .gh-card.featured.large a.gh-card-link {
        min-height: 400px;
        padding: 32px 24px;
    }

    .gh-topic-grid .gh-card-image {
        width: 100px;
    }

    .gh-topic-grid .gh-card-title {
        font-size: 1.6rem;
    }

    .gh-topic-grid .gh-card.featured.large .gh-card-title {
        font-size: 3.2rem;
    }

    .gh-topic-grid .gh-card:not(.large) .gh-card-excerpt {
        display: none;
    }

    .gh-card:not(.large) .gh-card-footer {
        margin-top: 8px;
    }

    .gh-topic-grid
        .gh-card:not(.large)
        :where(.gh-card-author, .gh-card-footer-sep) {
        display: none;
    }

    .gh-topic-minimal .gh-card + .gh-card {
        margin-top: 12px;
    }

    .gh-topic-minimal .gh-card-title {
        font-size: 1.5rem;
    }

    .gh-read-next {
        margin-top: 64px;
    }

    .gh-foot {
        padding-top: 64px;
        padding-bottom: 160px;
        margin-top: 64px;
    }

    .gh-subscribe {
        margin-bottom: 32px;
    }

    .gh-subscribe-title {
        font-size: 3.2rem;
    }

    .gh-subscribe-description {
        font-size: 1.7rem;
    }

    .gh-foot-menu {
        padding: 24px 0;
    }

    .gh-foot-menu .nav {
        gap: 12px;
    }

    .gh-copyright {
        margin-top: 32px;
    }
}

@media (min-width: 768px) {
    body:not(.home-template)
        .gh-topic-grid
        .gh-card:not(.large)
        .gh-card-image {
        width: 160px;
    }
}

@media (max-width: 991px) {
    .gh-topic-grid .gh-topic-content {
        grid-template-columns: 1fr;
    }

    .gh-topic-grid .gh-card.large {
        grid-column: auto;
    }

    .gh-topic-grid .gh-card:not(.featured).large .gh-card-link {
        flex-direction: column;
    }

    .gh-topic-grid .gh-card.featured.large .gh-card-link {
        min-height: 480px;
    }

    .gh-topic-grid .gh-card.large .gh-card-link > * {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .gh-head {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .has-full-image .gh-article-excerpt {
        margin-top: 36px;
        font-size: 2.4rem;
    }
}

.gh-article-sidebar .gh-button-share {
    margin-top: 16px;
}

@media (max-width: 1199px) {
    .gh-article-sidebar {
        position: static;
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-column: main-start / main-end;
        justify-self: stretch;
        column-gap: 12px;
        align-items: center;
        padding-right: 0;
        margin-top: 24px;
    }

    .gh-article-sidebar .gh-author-image-list {
        grid-row: 1 / 3;
    }

    .gh-article-sidebar .gh-author-name-list {
        align-self: end;
    }

    .gh-article-sidebar .gh-article-meta {
        align-self: start;
    }

    .gh-article-sidebar .gh-author-image {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
    }

    .gh-author-image-list .gh-author-image + .gh-author-image {
        margin-left: -16px;
    }

    .gh-author-name {
        font-size: 1.7rem;
    }

    .gh-article-sidebar .gh-button-share {
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: center;
        justify-self: end;
        margin-top: 0;
    }
}

.gh-page {
    padding: 0 4vmin;
}
.gh-container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

/* halaman resources*/

.super {
    padding: 18vmin 0;
}
.superhero {
    font-size: 14vmin;
    letter-spacing: -0.03em;
    line-height: 1em;
    text-indent: -0.03em;
}
.supersub {
    font-family: var(--font-serif);
    font-size: 3rem;
    line-height: 1.4em;
    margin: 1rem 0 0;
    max-width: 880px;
    opacity: 0.8;
}
.resource-section {
    grid-gap: 6vmin;
    border-top: 1px solid var(--color-whitegrey);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 6vmin 0;
}
.resource-section img {
    width: 400px;
}
.resource-section p {
    font-family: var(--font-serif);
    font-size: 2.2rem;
    line-height: 1.35em;
    margin: 1rem 0 3rem;
    max-width: 740px;
    opacity: 0.7;
}
.resource-list-item {
    align-items: center;
    border-bottom: 1px solid var(--color-whitegrey);
    color: var(--color-base);
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    line-height: 1.15em;
    padding: 25px 0;
    text-decoration: none;
}
.resource-list-item:first-of-type {
    border-top: 1px solid var(--color-whitegrey);
}
.resource-list-item:hover {
    background: #f9fafa;
    color: var(--color-tag, var(--color-blue));
    padding: 25px 15px;
}
.resource-list-item-content p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: currentColor;
    display: -webkit-box;
    flex: 0 0 auto;
    margin: 0.5rem 0 0;
    opacity: 0.5;
    overflow: hidden;
    transition: all 0.2s ease;
}
.resource-list-item:hover p {
    color: var(--color-base);
    transition: all 0.4s ease;
}
.resource-list-item-right {
    flex-shrink: 0;
    margin-left: 4vmin;
}
.resource-list-item-right > span {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.2s ease;
    transition: 0.05s ease;
}
.resource-list-item svg {
    height: 1.2rem;
    margin: 0 0 0 15px;
    width: 1.2rem;
}
.resource-section-coverlink {
    display: block;
}
.resource-section-morelink {
    color: var(--color-tag, var(--color-blue));
    display: block;
    font-weight: 600;
    padding: 20px 0 0;
}
.resource-section-morelink span {
    transition: 0.4s ease;
}
.resource-section-morelink:hover span {
    display: inline-block;
    margin: 0 0 0 5px;
    transition: 0.2s ease;
}
@media (max-width: 1000px) {
    .superhero {
        font-size: 15vmin;
    }
    .resource-section {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    .supersub {
        font-size: 2.5rem;
    }
    .resource-list-item:hover {
        box-shadow: var(--color-whitegrey) 0 -1px 0 0;
        margin: 0 -4vmin;
        padding-left: 4vmin;
        padding-right: 4vmin;
    }
    .resource-list-item > div > span {
        display: none;
    }
}
.search {
    border-top: 1px solid var(--color-whitegrey);
}
.search-active .search-input {
    border-bottom: 1px solid var(--color-whitegrey);
}
.search-input {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    position: relative;
}
.search-input input {
    border: none;
    font-family: var(--font-sans-serif);
    font-size: 2rem;
    font-weight: 400;
    height: 6.5rem;
    line-height: 1.4em;
    max-width: 100%;
    outline: none;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 0 28px;
    vertical-align: middle;
    width: 100%;
}
.search-input svg {
    cursor: pointer;
    height: 24px;
    left: inherit;
    opacity: 1;
    position: relative;
    top: inherit;
    transition: opacity 0.15s ease-in;
    width: 24px;
}
.search-input .search-icon {
    align-items: center;
    background-color: transparent !important;
    border-color: transparent;
    bottom: 0;
    cursor: default;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}
.search-input .search-icon svg {
    stroke: #a9a9a9;
    height: 20px;
    width: 20px;
}
.search-input .search-remove {
    align-items: center;
    background-color: transparent !important;
    border-color: transparent;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.search-input .search-remove svg {
    stroke: #373737;
    height: 12px;
    width: 12px;
}
.search-active .resource-section {
    display: none;
}
.search-results {
    padding: 0 0 6vmin;
}
.search-results-list {
    grid-gap: 0 4vmin;
    display: grid;
    grid-auto-rows: 160px;
    grid-template-columns: 1fr 1fr;
}
.search-results-list:not(.search-empty-results) {
    min-height: 600px;
}
.search-results-list li:nth-child(n + 3) {
    border-top: 1px solid var(--color-whitegrey);
}
.search-results-list li:nth-last-child(-n + 2) {
    border-bottom: 1px solid var(--color-whitegrey);
}
.search-result-link {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 25px 0;
}
.search-result-link span[class^="tag-"] {
    background: #fff;
    border: 1px solid;
    border-radius: 2rem;
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    line-height: 1.2em;
    margin-bottom: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.search-result-content mark {
    background-color: transparent;
    font-weight: 700;
}
.search-result-content span {
    color: var(--color-base);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.15em;
    text-decoration: none;
}
.search-result-content p {
    color: #30353c;
    font-size: 1.6rem;
}
.search-empty-results {
    color: var(--color-base);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.15em;
    margin: 0 auto;
    padding: 6vmin 0;
    text-align: center;
    text-decoration: none;
}
@media (max-width: 700px) {
    .search-input input {
        font-size: 1.8rem;
    }
    .search-results-list {
        grid-template-columns: 1fr;
    }
    .search-results-list li:nth-last-child(-n + 2) {
        border-bottom: none;
    }
    .search-results-list li:nth-child(n + 2) {
        border-top: 1px solid var(--color-whitegrey);
    }
    .search-results-list li:last-child {
        border-bottom: 1px solid var(--color-whitegrey);
    }
}
